{% extends 'core/empty_base.html' %}
{% load static %}

{% block title %}GRYDD Usuario - invitación{% endblock %}

{% block content %}
    <br><br><br>
    <div class="text-center align-middle">
    <h2>Lo sentimos!</h2>
        <img alt="Sitemas de información" class="rounded img-thumbnail" width='300'
        src="{% static 'core/assets/img/hoja-papel-violeta-rasgada-fondo-transparente_1108-550.webp' %}">
        <p>La invitación que recibiste no es valida o ha caducado.</p>
    </div>
{% endblock %}
