{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ accion }} puntos de acceso - GRYDD{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">{{ accion }}</h1>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Puntos de Acceso</h6>
            </div>
            <div class="card-body">
                {% crispy form %}
                {{ form.media.js }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function () {
    if (!!navigator.geolocation) {
        //Pedimos los datos de geolocalizacion al navegador
        navigator.geolocation.getCurrentPosition(
            //Si el navegador entrega los datos de geolocalizacion los imprimimos
            function (position) {
                geolocalizacion = $('#id_geolocalizacion').text(`[${position.coords.latitude}, ${position.coords.longitude}`])
            },
            //Si no los entrega manda un alerta de error
            function () {
                console.log("nav no permitido");
            }
        );
    }

});

</script>
{% endblock %}