{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ accion }} puntos de acceso - GRYDD{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">{{ accion }}</h1>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Puntos de Acceso</h6>
            </div>
            <div class="card-body">
                {% crispy form %}
                {{ form.media.js }}
            </div>
        </div>
    </div>
{% endblock %}
