{% extends 'core/base.html' %}
{% load static %}

{% block title %}Lista de puntos de acceso - GRYDD{% endblock %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800 d-inline">Puntos de acceso</h1>
        <a id="link_crear_sede" href="{% url 'gestiones:sedes.crear' %}" class="btn btn-primary btn-icon-split mb-2 ml-2">
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Crear</span>
        </a>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista de Puntos de Acceso</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Email</th>
                            <th>Empresa</th>
                            <th>Geolocalizacion</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Email</th>
                            <th>Empresa</th>
                            <th>Geolocalizacion</th>
                            <th>Opciones</th>
                        </tr>
                        </tfoot>
                        <tbody>
                            {% for punto_acceso in puntos_acceso %}
                                <tr>
                                    <td>
                                        {{punto_acceso.nombre}}
                                    </td>
                                    <td>{{ punto_acceso.direccion }}</td>
                                    <td>
                                        {{punto_acceso.email}}
                                    </td>
                                    <td>{{ punto_acceso.empresa }}</td>
                                    <td>{{ punto_acceso.geolocalizacion }}</td>
                                    <td>
                                        <a href="{% url 'gestiones:sedes.editar' punto_acceso.id %}"
                                            class="btn btn-info btn-sm" title="Editar sede">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <td colspan='6'>No hay puntos de acceso registrados</td>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                    Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous {% if not page_obj.has_previous %}disabled{% endif %}" id="dataTable_previous">
                            <a href="?page=1" aria-controls="dataTable" tabindex="0" class="page-link">Primera</a>
                        </li>

                        <li class="paginate_button page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                            <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" aria-controls="dataTable" tabindex="0" class="page-link">Anterior</a>
                        </li>

                        {% for i in paginator.page_range %}
                            <li class="paginate_button page-item {% if page_obj.number == i %}active{% endif %}">
                                <a href="?page={{i}}" aria-controls="dataTable" tabindex="0" class="page-link">{{ i }}</a>
                            </li>
                        {% endfor %}
                        
                        <li class="paginate_button page-item {% if not page_obj.has_next %}disabled{% endif %}">
                            <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" aria-controls="dataTable" tabindex="0" class="page-link">Siguiente</a>
                        </li>

                        <li class="paginate_button page-item next {% if not page_obj.has_next %}disabled{% endif %}" id="dataTable_next">
                            <a href="{% if page_obj.has_next %}?page={{ page_obj.paginator.num_pages }}{% else %}#{% endif %}" aria-controls="dataTable" tabindex="0" class="page-link">Ultima</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    <!-- Page level plugins -->
    <script src="{% static 'core/assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'core/assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'core/assets/js/demo/datatables-demo.js' %}"></script>
    <script src="{% static 'core/assets/js/datatables.js' %}"></script>
    <script>
        if (!!navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    lat = position.coords.latitude
                    lng = position.coords.longitude
                    point_map_center = `[${lat}, ${lng}]`
                    link_crear_sede = $('#link_crear_sede')
                    link_crear_sede.attr("href", link_crear_sede.attr("href") + `?point_map_center=${point_map_center}`)
                }
            );
        }
    </script>
{% endblock %}


